  .footer-container {
    background-color: #000;
    color: #fff;
    padding: 10px ; /* Cambia el valor de padding aquí */
    text-align: center;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 5px;
    
    z-index: 1000;
    border-radius: 30px;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  
  .img {
    background-color: transparent;
    width: 10px;
    height: auto;
    display: block;
    margin: 0 auto 5px;
  }
  
  /* Agrega un margen superior al contenedor del texto */
  .text-container {
    margin-top: 10px;
  }
  
  .p {
    margin: 0;
  }
  