
.feature-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #00a09b;
    padding: px;
    border-radius: 50px;
    width: 60%;
    margin: 10px auto;
    margin-top: 60px;
    transition: transform 1s ease, opacity 1s ease;
    transform: translateX(30%); 
    opacity: 1;
    box-sizing: border-box;
    border-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}


/* Agrega una clase adicional para controlar la aparición basada en el desplazamiento */
.feature-container.revealed {
    transform: translateX(0);
    opacity: 1;
    
}

.feature-content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.feature-content h2 {
    font-size: 24px;
}

.feature-content p {
    font-size: 16px;
    margin-top: 10px;
}

.feature-button {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 23px;
    transition: 0.3s;
    margin-left: 0%;
  }

.feature-button:hover {
    background-color: #042446;
    transform: scale(1.05);
}

.feature-image {
    flex: 1;
}

/* Estilos para la imagen */
.feature-image img {
    max-width: 70%;
    height: auto;
    display: block;
    margin: 30px 100px ;
    
}
