  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px ; 
    text-align: center;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;   
    z-index: 1000;
    margin-bottom: 0px;
    margin-top: 20px;
    margin-right: 50%;
   
    
  }
  
  .img {
    background-color: transparent;
    width: 10px;
    
  }
  
  .text-container {
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .p {
    margin: 0;
  }
  