/* WelcomeMessage.css */

.welcome-message {
  text-align: center;
  margin-top:  75px;
  margin-bottom: 20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  ;
  color:rgb(4, 143, 156);
 
}

.welcome-message h1 {
  font-size: 65px;
  font-weight: bold;
}

.welcome-message img {
  width: 100px;
  margin-bottom: 20px;
  
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.message-animation {
  animation: fadeInOut 3s linear infinite; /
}